[Unit]
Description=PiStorm-Atari Emulator
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/steve/dev/ATARI/tmp/pistorm-atari/emulator --config ../../configs/autoboot.cfg
WorkingDirectory=/home/steve/dev/ATARI/tmp/pistorm-atari

[Install]
WantedBy=multi-user.target

