#
# ATARI PISTORM
# Default Config File - configs/atari.cfg
#
# Run from pistorm-atari directory
# sudo ./emulator --config configs/atari.cfg
#

# valid CPU types
# "68000", "68010", "68EC020", "68020", "68EC030", "68030", "68EC040", "68LC040", "68040", "SCC68070"

# ##########
# Mandatory
# ##########
cpu 68020
loopcycles 300
platform atari ste

# ###########
# ATARI ROMs - select one only
# ###########
# ST ROMs are 192 KB
#map type=rom address=0x00000000 size=0x00000008 file=roms/tos104uk.rom id=TOS1.04_Vectors
#map type=rom address=0x00FC0000 size=0x00030000 file=roms/tos104uk.rom id=TOS1.04
#map type=rom address=0x00000000 size=0x00000008 file=roms/etos192uk.rom id=EMUtos_Vectors
#map type=rom address=0x00FC0000 size=0x00030000 file=roms/etos192uk.rom id=EMUtos

# STe ROMs are 256 KB
map type=rom address=0x00000000 size=0x00000008 file=roms/etos256uk.rom id=EMUtos_Vectors
map type=rom address=0x00E00000 size=0x00040000 file=roms/etos256uk.rom id=EMUtos
#map type=rom address=0x00000000 size=0x00000008 file=roms/tos106uk.rom id=TOS1.06Vectors
#map type=rom address=0x00E00000 size=0x00040000 file=roms/tos106uk.rom id=TOS1.06
#map type=rom address=0x00000000 size=0x00000008 file=roms/tos162uk.rom id=TOS1.62Vectors
#map type=rom address=0x00E00000 size=0x00040000 file=roms/tos162uk.rom id=TOS1.62
#map type=rom address=0x00000000 size=0x00000008 file=roms/tos206uk.rom id=TOS2.06Vectors
#map type=rom address=0x00E00000 size=0x00040000 file=roms/tos206uk.rom id=TOS2.06

# ###############################
# Assign FAST-RAM/Alt-RAM/TT_RAM - not applicable to 68000
# ###############################
map type=ram address=0x01000000 size=128M id=ALT_RAM

# #######################
# ATARI Graphics- RTG video modes
# #######################
#setvar rtg

# #######################
# Screen Grab - make a png file of the screen
# #######################
#setvar screengrab

# ##################################
# IDE Interface mapping - registers - will only work with EMUtos
# ##################################
map type=register address=0x00F00000 size=0x40 id=IDE_Interface

# IDE Disk Drives - max of 2
#setvar hdd0 ../../dkimages/dk0no-nvdi.img
#setvar hdd0 ../../dkimages/dk0.img
setvar hdd0 ../../dkimages/disk0.img
#setvar hdd0 ../../dkimages/Mint.img
#setvar hdd0 ../../dkimages/Mint-fvdi.img
#setvar hdd0 ../../dkimages/hddrdemo111_ide.img
