#
# ATARI PISTORM
# Master Config File - configs/atari.cfg
#
# file-structure suggestion
# - HOME
# - HOME/configs
# - HOME/dkimages
# - HOME/roms
# - HOME/screendumps
# - HOME/pistorm-atari
#
# cd pistorm-atari
# mkdir ../configs
# mkdir ../dkimages
# mkdir ../roms
# mkdir ../screendumps
#
# make a copy of the master emulation configuration file
# cp configs/atari.cfg ../configs/
#
# tailor your atari.cfg file to your needs
# you can have as many configuration files as you want, just specify the appropriate one at emulation start
# for example. you may want a configuration file for different cpu's
# eg. atari020.cfg, atari030.cfg
#
# Run Emulation from pistorm-atari directory
# cd pistorm-atari
# sudo ./emulator --config ../configs/<your config>
#

# valid CPU types
# "68000", "68010", "68EC020", "68020", "68EC030", "68030", "68EC040", "68LC040", "68040", "SCC68070"

# ##########
# Mandatory
# cpu set to your choice - 68000 for games typically and 68020 for performance
# loopcycles may be altered
#    lowering, better interrupt handling
#    increasing, better performance, but some programmes may not like it
# platform will always be atari of course, but sub-type can be st/ste (doesn't matter at the moment)
# ##########
cpu 68020
loopcycles 300
platform atari ste

# ###########
# ATARI ROMs - select one only
# ###########
# ST ROMs are 192 KB
# NOTE 192k EmuTos does not support IDE, nor does it support ET4000 initialisation
#map type=rom address=0x00000000 size=0x00000008 file=../roms/tos104uk.rom id=TOS1.04_Vectors
#map type=rom address=0x00FC0000 size=192K file=../roms/tos104uk.rom id=TOS1.04
#map type=rom address=0x00000000 size=0x00000008 file=../roms/etos192uk.rom id=EMUtos_Vectors
#map type=rom address=0x00FC0000 size=192K file=../roms/etos192uk.rom id=EMUtos

# STe ROMs are 256 KB
map type=rom address=0x00000000 size=0x00000008 file=../roms/etos256uk.rom id=EMUtos_Vectors
map type=rom address=0x00E00000 size=256K file=../roms/etos256uk.rom id=EMUtos
#map type=rom address=0x00000000 size=0x00000008 file=../roms/tos106uk.rom id=TOS1.06Vectors
#map type=rom address=0x00E00000 size=256K file=../roms/tos106uk.rom id=TOS1.06
#map type=rom address=0x00000000 size=0x00000008 file=../roms/tos162uk.rom id=TOS1.62Vectors
#map type=rom address=0x00E00000 size=256K file=../roms/tos162uk.rom id=TOS1.62
#map type=rom address=0x00000000 size=0x00000008 file=../roms/tos206uk.rom id=TOS2.06Vectors
#map type=rom address=0x00E00000 size=256K file=../roms/tos206uk.rom id=TOS2.06

# ###############################
# Assign FAST-RAM/Alt-RAM/TT_RAM - not applicable to 68000
# ###############################
map type=ram address=0x01000000 size=128M id=ALT_RAM

# #######################
# ATARI Graphics- RTG video features
# Enables ET4000/AX emulation
# #######################
#setvar rtg

# #######################
# Screen Grab - take a snapshot of the ET4000 screen
# press 's' key at any time to create a screendump file (creates .png files) 
# If RTG is not enabled, this is ignored
# #######################
#setvar screengrab

# ######################
# Set Frames Per Second
# This is the render rate of the framebuffer
# It does not effect a programmes refresh rate
# Lowering this value may be beneficial to under powered Pi's
# If RTG is not enabled, this is ignored
# ######################
#setvar fps 60

# ######################
# Enable EMUtos ET4000 initialisation
# If RTG is not enabled, this is ignored
# ######################
#setvar emutos_vga

# #######################
# 68020 FPU option - add FPU to 68020 CPU
# This will only work for the 68020. 68030/040 have integrated FPUs
# #######################
#setvar 68020fpu

# #######################
# Real-Time Clock (RTC)
# Enable ST/STe clock sync with Raspberry PI clock
# Requires PISTORM.PRG in AUTO folder
# #######################
#setvar rtc

# #######################
# Write Through Cache (WTC)
# Optimise memory performance for reads
# This option is primarily for 68000 performance, but works for other CPU types too
# EXPERIMENTAL - does not work (yet) with blitter
# #######################
#setvar wtc

# ##################################
# IDE Interface mapping - registers - will only work with EMUtos
# Four IDE interfaces can be used, each supporting two disks
# If a physical IDE interface is being used, IDE0 must be commented out
# IDE0 must always be present 
# ##################################
map type=register address=0x00F00000 size=0x40 id=IDE0
#map type=register address=0x00F00040 size=0x40 id=IDE1
#map type=register address=0x00F00080 size=0x40 id=IDE2
#map type=register address=0x00F000C0 size=0x40 id=IDE3

# ##################################
# IDE Disk Drives - max of 8 (even numbered drives are bootable - 0,2,4,6)
# disk images are not byte swapped
# Two disks per IDE interface, so if you want to use three disks, uncomment IDE1
# ##################################
setvar hdd0 ../dkimages/disk0.img
#setvar hdd1 ../dkimages/disk1.img
#setvar hdd2 ../dkimages/disk2.img
#setvar hdd3 ../dkimages/disk3.img
#setvar hdd4 ../dkimages/disk4.img
#setvar hdd5 ../dkimages/disk5.img
#setvar hdd6 ../dkimages/disk6.img
#setvar hdd7 ../dkimages/disk7.img

